.main-grid-container {
    @media (max-width:1036px) {
        grid-template-columns: 1fr;
    }
}

.product-image-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    width: 100%;
    border-radius: 20px;
    overflow: clip;
}

.selected-image-container {
    width: 100%;
    border-radius: 20px;
    overflow: clip;

    img {
        width: 100%;
        border-radius: 20px;
        box-shadow: 0 0 5px var(--text-secondary);
        border: 1px solid var(--primary)
    }
}

img {
    cursor: pointer;
}

img:hover {
    transform: scale(1.25);
    transition: 1s ease;
}

.border-highlight {
    border: 2px solid var(--primary);
    transform: scale(1.2);
    transition: 1s ease;
}

.image-list {
    display: flex;
    gap: 1rem;
    width: 500px;
    overflow: clip;
    width: 100%;
    border-radius: 20px;
    padding-top: 1rem;
    overflow: clip;

    .image-item {
        overflow: clip;
        border-radius: 20px;
    }

    img {
        width: 100%;
        border-radius: 20px;
        box-shadow: 0 0 2px var(--text-secondary);
    }
}

.product-details-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 2rem;

    h4 {
        color: var(--accent-coral);
    }
}

.color-list {
    display: flex;
    flex: 1;
    gap: 1rem;
    flex-wrap: wrap;
}

.circle-outer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--accent-coral);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-inner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--glass-bg);
}

.new-collection {
    display: inline-flex;
    padding: 1rem 1rem;
    border-radius: 9999px;
    background-color: rgb(79 209 197 / 0.1);
    font-weight: 600;
    font-size: 0.875rem;
    gap: 0.5rem;
    border: 1px solid var(--primary);
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1rem;
    align-items: center;
    letter-spacing: 0.1em;
    width: fit-content;
    width: 100%;

    .material-icons {
        font-size: 1rem;
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
}

.add-to-card {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;

    button.primary {
        font-size: 0.85rem;
        border-radius: 20px;
        text-align: center;
        justify-content: center;
    }
}

.sub-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sub-description-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--glass-bg);
    border: 2px solid var(--border);

    .material-icons {
        font-size: 2rem;
    }

    .sub-description-header {
        font-size: 1.5rem;
        text-align: center;
        font-weight: 600;
    }

    .sub-description-text {
        font-size: 1rem;
        text-align: center;
        font-weight: 400;
        color: var(--text-secondary);
    }

    .coral {
        color: var(--accent-coral);
    }
}