<div class="main-container reveal">
    <div class="main-grid-container">
        <div class="product-image-container">
            <div class="selected-image-container">
                <img [src]="selectedImage()" />
            </div>

            <div class="image-list">
                <div class="image-item" *ngFor="let img of imageList()">
                    <img [src]=" img" (click)="onimageSelect(img)"
                        [ngClass]="{ 'border-highlight': img == selectedImage() }" />
                </div>
            </div>
        </div>

        <div class="product-details-container">
            <h2>{{productDetail()?.productName}} - <span class="header-gradient">${{productDetail()?.price}}</span></h2>
            <p class="color-title">SELECT COLOR</p>
            <div class="color-list">
                <div role="button" [ngClass]="{ 'border-highlight': color == selectedColor() }"
                    (click)="oncolorSelect(color)" class="circle-outer" *ngFor="let color of colorList()"
                    [ngStyle]="{background:color}">
                    <div class="circle-inner"></div>
                </div>
            </div>
            <p class="color-title">{{productDetail()?.description}}</p>


            <div class="add-to-card">
                <button class="primary">
                    <span class="material-icons">shopping_cart</span>
                    <span>ADD TO CART</span>
                </button>
                <button class="secondary">
                    <span class="material-icons">favorite</span>
                </button>
            </div>

            <div class="sub-description">
                <div class="sub-description-card">
                    <span class="material-icons">brush</span>
                    <p class="sub-description-header">Artist Details</p>
                    <p class="sub-description-text">{{productDetail()?.artistDetail}}
                    </p>
                </div>
                <div class="sub-description-card">
                    <span class="material-icons coral">eco</span>
                    <p class="sub-description-header">Material & Care</p>
                    <p class="sub-description-text">{{productDetail()?.material}}</p>
                </div>
            </div>
        </div>
    </div>