<section class="video-section reveal">
    <div class="video-container">
        <video class="video-player" autoplay muted loop playsinline #videoPlayer>
            <source src="../../../../../assets/videos/hero-section.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="video-overlay">
            <h1 class="header-gradient">Wind Chimes</h1>
            <span>Handcrafted glass wind chimes that dance with the wind, reflecting light and creating a soothing,
                tranquil atmosphere wherever they hang.<br><br>
                Inspired by nature and shaped by artistry, these glass chimes add a touch of serenity to balconies,
                gardens, and indoor corners alike. Their translucent colors shimmer in sunlight, creating an
                ever-changing play of reflections that feels both refreshing and meditative.</span>
        </div>
    </div>
    <div class="video-container">

        <div class="video-overlay">
            <h1 class="gradient-text">Chandelier Collection</h1>
            <span>From soft, cascading glass forms to bold, sculptural designs, our chandeliers capture light in
                mesmerizing ways, creating an atmosphere of elegance and warmth. Every detail is carefully crafted to
                celebrate color, clarity, and craftsmanship.</span>
        </div>
        <video class="video-player" autoplay muted loop playsinline #videoPlayer>
            <source src="../../../../../assets/videos/ceiling.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</section>