.video-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    justify-items: center;
    align-items: center;
}

.video-player {
    width: 100%;
    max-width: 700px;
    height: auto;
    border-radius: 9999px;
    box-shadow: 10px 10px 10px 10px linear-gradient(90deg, var(--primary), var(--accent-lavender));
}

.video-overlay {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.gradient-text {
    background: linear-gradient(90deg, var(--primary), var(--accent-lavender));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

span {
    font-style: italic;
}

.reveal{
    animation: reveal both;
    animation-timeline: view();
}

@keyframes reveal {
    from {
        opacity: 0.8;
        transform: translateY(10px) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}