footer {
  padding: 4rem;
}

.link-collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.logo {
  display: flex;
  align-items: start;
  gap: 0.5rem;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: start;
  align-items: center;
  justify-items: center;
}

.material-icons {
  font-size: 1.5rem;
  color: var(--primary);
}

.description {
  color: var(--text-secondary);
  font-size: 0.875rem;
  text-align: center;
}

.social-icons {
  display: flex;
  gap: 2rem;
}

.links {
  a {
    color: var(--text-secondary);
    font-size: 0.875rem;
    transition: color 0.3s ease;
  }

}

.copyrights {
  border-top: 1px solid var(--border);
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  width: 100%;
}

.terms-links {
  display: flex;
  gap: 3rem;
  cursor: pointer;
}

.connect input {
  background: transparent;
  border: none;
  color: var(--text-primary);
  width: 8rem;
}

.connect {
  align-items: center;
  gap: 0.5rem;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border);
  background-color: var(--glass-bg);
}

input:focus {
  outline: none;
}

button {
  padding: 0.5rem;
}