.hero {
    position: relative;
    background-color: var(--background);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-items: center;

    @media (max-width:1094px) {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

.hero-image {
    width: 100%;
}

.reveal-image {
    animation: show-hero-image both;
    animation-timeline: view();
}

@keyframes show-hero-image {
    from {
        opacity: 0;
        transform: translateX(80px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* hero section */
.hero-description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    text-align: center;
    flex: 1;

    @media (min-width: 1024px) {
        text-align: left;
    }

    @media (max-width:1094px) {
        align-items: center;
    }
}

.new-collection {
    display: inline-flex;
    padding: 0.25rem 1rem;
    border-radius: 9999px;
    background-color: rgb(79 209 197 / 0.1);
    font-weight: 600;
    font-size: 0.875rem;
    gap: 0.5rem;
    border: 1px solid var(--primary);
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1rem;
    align-items: center;
    letter-spacing: 0.1em;
    width: fit-content;

    .material-icons {
        font-size: 0.5rem;
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
}

h1 {
    letter-spacing: -0.025em;
    color: var(--text-primary);
    font-size: 3rem;
    line-height: 1;
    font-weight: 800;

    @media (min-width: 1024px) {
        font-size: 4.5rem;
        line-height: 1;
    }
}


.gradient-text {
    background: linear-gradient(90deg, var(--primary), var(--accent-lavender));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    color: var(--glass-text);

    @media (min-width: 1024px) {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

.btn-grp {
    display: flex;
    justify-content: start;
    gap: 1rem;
}
