<section class="hero" #heroSection>
    <div class="hero-description">
        <div class="new-collection">
            <span class="material-icons">circle</span>
            <span class="header-gradient">New Collection: Nebula Series</span>
        </div>

        <h1>
            Artistry in Every <span class="gradient-text">Reflection</span>
        </h1>
        <p>
            Handmade glass arts studio showcasing vibrant 3D pieces with organic textures. Each sculpture captures light
            and transforms spaces.
        </p>        <div class="btn-grp">
            <a routerLink='/collections'>
                <button class="primary">Shop Collection
                    <span class="material-icons">arrow_forward</span></button>
            </a>
            <a (click)="open()">
                <button class="accent">Watch Process
                    <span class="material-icons">play_arrow</span></button>
            </a>
        </div>
    </div>

    <img class="hero-image reveal-image" alt="Glass Art Hero"
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuD-AyA-auYL0zjtnUkHfA98bfACFx3i91gf3sO0TufcVQea18vjcR2Hipj46yfk5ivZcgl_2b8KGrH_ZcYSwqPpkAgzVoR0TBAt1zxe0tx-RV8st_0lJk5Jb5Ghc6z4d1WEoVXOiAX43F_BGCpS6t_C2YfzJPuEythgVvEX0liRhI3woxWkt4RW48gnF28DhOre22FxaOfwExPZCIbVl53vACdSDnaO_wDUWH8b1J1r_m1n4fz9LojtUiQMY6yzqK11iZpmPy4wqYI" />
</section>