<section class="featured-categories">
    <h2 class="header-gradient">Featured Collections</h2>

    <div class="category-list-container" #categoryListContainer>
        <div class="category-card" *ngFor="let category of categories()">
            <a routerLink='/product-detail'>
                <img alt="{{ category.name }}" [src]="category.url" />
                <div class="category-details">
                    <p class="category-name">{{ category.name }}</p>
                    <p class="category-count">{{ category.count }}</p>
                </div>
            </a>
        </div>
    </div>
</section>