.featured-categories {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: var(--text-primary);
}

.category-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    justify-items: center;
}

.category-card {
    max-width: 15rem;
    border-radius: 3rem;
    position: relative;
    overflow: hidden;
    transition: transform 1s ease;

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 3rem;
    }

    img:hover {
        transform: scale(1.25);
        transition: transform 1s ease;
    }

    @media (max-width:1418px) {
        max-width: 20rem;
    }
}

.custom-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 15rem;
    height: 15rem;
    border-radius: 3rem;
    position: relative;
    overflow: hidden;
    transition: transform 1s ease;
    background-color: rgb(79 209 197 / 0.1);
    border: 1px solid var(--primary);

    .category-name {
        color: var(--primary);
    }
}

.category-card:hover,
.custom-category:hover {
    box-shadow: 0 0 10px var(--text-secondary);
    transform: translateY(-5px);
}

.category-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    border-radius: 0 0 3rem 3rem;
}

.category-name {
    color: #FFFFFF;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
}

.category-count {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.category-card:nth-child(3n+1) .category-count {
    color: var(--accent-lavender);
}

.category-card:nth-child(3n+2) .category-count {
    color: var(--accent-coral);
}

.category-card:nth-child(3n+3) .category-count {
    color: var(--primary);
}