<section>
    <h2>The Vault</h2>
    <div class="parallax">
        <img id="ocean"
        src="../../../assets/images/ocean-glass-art.png">
        <img id="ocean"
        src="../../../assets/images/ocean-art.png">
        <img id="ocean"
        src="../../../assets/images/vitreous-art (1).png">
        <img id="ocean"
        src="../../../assets/images/vitreous-art (2).png">
        <img id="ocean"
        src="../../../assets/images/vitreous-art (3).png">
        <img id="ocean"
        src="../../../assets/images/vitreous-art (4).png">
         <img id="ocean"
        src="../../../assets/images/vitreous-art (7).png">
    </div>
</section>