<div class="main-container reveal">
    <h1 class="main-header-text">Start Your <span class="header-gradient">Bespoke Creation</span></h1>
    <div class="main-grid-container">
        <div class="glass-container">
            <div class="image-container">
                <img alt="Custom Glass Art"
                    src="https://lh3.googleusercontent.com/aida-public/AB6AXuD-OnLni1w_y3bh4OahRxEwBh7E5MFxEj22SBzAvw53SymzTv2WpfU2qqDTLkTNuUGPHLNSwAH5HyFC2roScf_5XvlaB022NqiTJPK9enOSgn1MbRXJ6gKyp6QVWYy6lDAC4h4ku66YA6NY9Yr5iKrQR41jg8Mwhn1Ul951Q_ITmBbEJ8YlGm9v_k6n6F7SXINErM0n6Now5lZJ8VIGVHIoRIowTMEgzjqZ8xwOTX93HdjhJD-km3kgojalBgJjLfnQX2Z7O-tiA70" />
                <div class="custom-order-description">
                    <h2>The Artisan Process</h2>
                    <p class="description">Every custom piece begins with a conversation. Share your vision, and our
                        master
                        glassblowers will use traditional techniques to forge your unique idea into crystal reality.</p>
                </div>
            </div>

            <div class="sub-description">
                <div class="sub-description-card">
                    <span class="material-icons">access_time</span>
                    <p class="sub-description-header">4-6 Weeks</p>
                    <p class="sub-description-text">Typical completion time for custom works.</p>
                </div>
                <div class="sub-description-card">
                    <span class="material-icons coral">verified</span>
                    <p class="sub-description-header">Quality Verified</p>
                    <p class="sub-description-text">Each piece is meticulously inspected to ensure it meets our high
                        standards of craftsmanship and beauty.</p>
                </div>
            </div>
        </div>

        <div class="forms-container">
            <form>
                <div class="form-details">
                    <div class="form-item">
                        <label for="name">Name</label>
                        <input id="name" type="text" placeholder="Your Name" required />
                    </div>
                    <div class="form-item">
                        <label for="email">Email</label>
                        <input id="email" type="email" placeholder="Your Email" required />
                    </div>
                </div>
                <div class="form-details">
                    <div class="form-item">
                        <label for="project-description">Project Description</label>
                        <textarea id="project-description" rows="8"
                            placeholder="Describe the shape,mood, story behind your vision..." required></textarea>
                    </div>
                </div>
                <div class="form-details">
                    <div class="form-item">
                        <label for="color-palette">Preferred Color Palette</label>
                        <input id="color-palette" type="text" placeholder="eg:Amber & Red" required />
                    </div>
                    <div class="form-item">
                        <label for="dimensions">Dimensions</label>
                        <input id="dimensions" type="text" placeholder="e.g. Hcm x Wcm x Dcm" required />
                    </div>
                </div>
                <div class="form-details">
                    <div class="form-item">
                        <label for="color-palette">Preferred Color Palette</label>
                        <input id="color-palette" type="text" placeholder="eg:Amber & Red" required />
                    </div>
                </div>
                <div class="form-details">
                    <div class="form-item">
                        <label class="drop-zone" for="fileUpload">
                            <span>Drag & Drop files here or <span class="header-gradient">click to browse</span></span>
                            <br>
                            <div class="material-icons">file_upload</div>
                        </label>
                        <input type="file" id="fileUpload" name="fileUpload" multiple>
                    </div>
                </div>
                <button class="accent submit-button" type="submit">Submit Order Vision</button>
            </form>
        </div>
    </div>
</div>